<!DOCTYPE html>
<html ng-app="HELLO">
<head>
    <meta name="google-signin-client_id" content=471530136413-nv0r5c26vc3h0fpp8pki7cnvfbf6rd12.apps.googleusercontent.com>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"> 
      

  
</head >
    
<body  class="mainbody" ng-controller="whole" >
    <table class="table1">
      <tr>
          <th class ="logo"> <div class="logo"><img src="logo.png"  width="100" height="30"></div></th>
          <th>  
              
          </th>
        <th class="search"><form>
                    <input class="searchinput" type="text" name="Search_data" placeholder="Search..">
            
                </form></th>
          <th class="but"><button class="button" >se</button></th>
          <th class="login" >
              <input type="button" value="signin" ng-click="login()" />
          
         
          
          
          
          
          
          
          </th>
      </tr>
        </table>
     
    <div id="logindiv" class="loginpopup" ng-hide="hidden">
        
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
         <button onclick="signOut()">signout</button>

              </div>
      
    
 
      <div  class="div1"  >
          <div class="table2" ng-repeat-start ="x in topi"  >
              <p>//x.topic//</p>
            
          </div>
          <table class="table3">
              <tr>
              <td >
                  For</td>
                  <td>Against</td>
              </tr>
          
          
          </table>
          <table class="table4">
              <tr>
              <td class="table4_td">
              
          <div class="divtable4">
          
          
                 <div class="innerdiv" >
                  <table class="innertable1" ng-repeat-start = "y in x.a">
                     <tr>
                      <td class= "username">username
                         </td>
                      
                        
                      </tr >
                    
                     
                      <tr  >	
                        <td >  
                          <div class="contentcomment"> //y.comment//
                            </div></td>
                    
                      </tr>
                      
                         </table>
                     <table class="readmore" ng-repeat-end >
                     <td style="padding-right:50%">like
                         </td>
                         <td>

                         </td>
                    <td>readmore</td> 
                     </table>
                  
                  </div> 
          </div>
          </td>
          <td class="table4_td">
              <div class="table4_right">
              <div class="innerdiv_rightcomment" ng-init ="value=['q','w','e','r','f']">
                  
                     <table class="innertable1" ng-repeat-start = "y in value">
                     <tr>
                      <td class= "username">name surname 
                         </td>
                      
                        
                      </tr >
                    
                     
                      <tr  >	
                        <td >  
                          <div class="contentcomment"> 
                            
                            is is because you are setting the width on .btn to 100% and you also have padding, which will add the padding on top of the 100% width. This is making the block spill out of the parent element. What thr foeii sdkei kmdf
                            </div></td>
                    
                      </tr>
                      
                         </table>
                     <table class="readmore" ng-repeat-end>
                     <td style="padding-right:50%">like
                         </td>
                         <td> 
</td>
                    <td>readmore</td> 
                     </table>
                  
    
              </div>
                
              
                  
                  
        
              </div>
          </td>
              </tr>
              </table>
          
          
          
          
          
          
          <table class="seeall" ng-repeat-end>
          <tr>
              <td ><a href="newpage.html">Read all</a></td>
              </tr>
     
          </table>
           
       
         </div>
        

    <div class= "rightdiv"></div>
        
       
    

</body>
    
    
        <script type="text/javascript">
           var app = angular.module("HELLO",[]);
            
            app.controller("whole", function($scope , $http){
                $scope.name=['q','w','e','r','g','m'];
              var req = {
                     method: 'Post',
                     url: 'http://localhost:5000/topicslogin',
                     headers: {
                       'Content-Type': 'application/json'
                     },
                     data: { test: 'My name is rahul what is your opinion on that?' }
                    }

                    $http(req).then(function(response){
                        $scope.status=response.status;
                        $scope.topi=response.data;
                        
                    }, function(response){
                        
                        alert("server not reponding Error:"+ response.status);
                        
                    });
            
            $scope.hidden = true;
            $scope.login = function () {
                //If DIV is hidden it will be visible and vice versa.
                $scope.hidden = $scope.hidden ? false : true;
               }
            
            
            });
            
            app.controller( "Mycontroller", function($scope) {
            //This will hide the DIV by default.
            $scope.IsHidden = true;
            $scope.ShowHide = function () {
                //If DIV is hidden it will be visible and vice versa.
                $scope.IsHidden = $scope.IsHidden ? false : true;
               }
           
        });
            
 
        
  app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('//');
    $interpolateProvider.endSymbol('//');
  });

         
            
            

      function onSignIn(googleUser) {
          gapi.load('auth2',function(){gapi.auth2.init();});
        // Useful data for your client-side scripts:
          //document.write('hello');
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
          var form = document.createElement('form');
                            form.method = "post";
                            form.action = "http://localhost:5000/loggedin";
                            myvar = document.createElement('input');
        myvar.setAttribute('type', 'hidden');
        myvar.setAttribute('name', 'datas');
        myvar.setAttribute('value', id_token);
        form.appendChild(myvar);
        document.body.appendChild(form);

          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:5000/tokensignin',true);
           xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send('idtoken=' + id_token);
              xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                       alert(xhr.responseText); 
                         form.submit();
                    }
            
              };    
         
  }
    
            
        function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
       login();
    });
  }   
    </script>
   
    
  
   
</html>
